<div class="home-background">
  <div class="text-center rounded top">
    <h1 class="py-1">-- Dress fun とは --</h1>
    <br />
    <p class="lh-lg">
      "Dressfun"はオシャレを楽しみたい人向けのSNSです。<br />
      <br />
      多くのユーザーの投稿を見ることによって、<br />
      <br />
      あなたの普段のコーディネートを彩ってくれます。<br />
      <br />
      また、あなた自信がコーディネートを投稿できます。<br />
      <br />
      様々なシーンで活用でき、どんなときでも利用できます。<br />
      <br />
      ぜひご利用ください。
    </p>
    <br />

    <% if user_signed_in? %>
      <div class="col-md-10 offset-md-1 mt-3">
        <%= link_to :back do %>
          <button type="button" class="btn btn-outline-secondary col-md-8">戻る <i class="fas fa-undo-alt"></i></button>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-10 offset-md-1 mt-3">
        <%= link_to root_path do %>
          <button type="button" class="btn btn-outline-secondary col-md-8">TOPへ <i class="fas fa-home"></i></button>
        <% end %>
      </div>
      <div class="col-md-10 offset-md-1 mt-3">
        <%= link_to new_user_registration_path do %>
          <button type="button" class="btn btn-outline-primary col-md-8">新規登録へ <i class="fas fa-user-plus"></i></button>
        <% end %>
      </div>
      <div class="col-md-10 offset-md-1 my-4">
        <%= link_to new_user_session_path do %>
          <button type="button" class="btn btn-outline-success col-md-8">ログインへ <i class="fas fa-sign-in-alt"></i></button>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
