/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import "slick-theme";
@import "slick";

.arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
}

.header-logo {
  font-family: 'Pacifico', cursive;
}

.home-background {
  display: none;
  background-image: image-url('background_image.jpg');
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
  width: 100%;
  height: 730px;
  position: relative;
  margin-top: 30px;
}

.top {
  display: none;
  height: auto;
  width: 50%;
  padding-top: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.background {
  background-color: #eee;
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.sign-up {
  display: none;
  background-color: white;
  height: auto;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.sign-in {
  display: none;
  background-color: white;
  margin-top: 20px;
  height: auto;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.complete {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}